.logo {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 6rem;
  height: 1.9375rem;
&--primary {
  background-image: url('../images/DOYOGA-logo.png');
  @include media-breakpoint-up(md){
    background-image: url('../images/DOYOGA-logo@2x.png');
  }
}
&--white {
  background-image: url('../images/DOYOGA.png');
  @include media-breakpoint-up(md){
    background-image: url('../images/DOYOGA@2x.png');
  }
}
}