

.scroll{
	&--none {
		&::-webkit-scrollbar {
				display: none;
			}
	}
	&--style{
		&::-webkit-scrollbar {
			// display: none;
			width: 0;
			height: 0;
		}
		&:hover {
			&::-webkit-scrollbar{
				height: .5rem;
			}
			&::-webkit-scrollbar-track {
				background: tint-color($primary, 40%);
			}
			&::-webkit-scrollbar-thumb {
				border-radius: .25rem;
				background: $primary;
				&:hover {
					background: shade-color($primary, 40%);
				}
			}
		}
	}

	&--up {
		filter: drop-shadow(0 -10px 20px rgba($dark,0.25));
	}

	&--down {
		transform: translate3d(0, -100%, 0);
	}
}

.ms-minus {
	@include media-breakpoint-up(lg){
		margin-left: -5.9375rem;
	}
}


